form {
  grid-column: 2 / -2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

li {
  margin: 0;
  padding: 0;
}

.text {
  align-self: center;
}

/* Not perfect */
.btn-group, .input-group {
  margin: 10px 0px;
}


